<!-- Swiper -->
<div class="swiper-container swiper-container-h" id="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style="float:left">
                <img width="640px"  src="assets/images/bg-pic1.jpg"/>
            </div>
            <div class="ptAbs" style="width:100%;top:10%;">
                <div class="center">
                    <img src="assets/images/tp4_53.png"/>
                </div>
                <div class="center"><img src="assets/images/tp4_52.png"/></div>
                <div class="center cw ptRel" style=" font-size:36px;top:-185px;line-height:258%;">
                    <div><a style="text-decoration:none; color:red" href="javascript:void(0)" id="acceptVitation">接受邀请</a></div>
                    <div><a style="text-decoration:none; color:#FFF" id="map-address" href="http://api.map.baidu.com/marker?location= 23.146826,113.341496&title=宴会位置导航&content=嘉逸国际酒店&output=html" target="_blank">一键导航</a></div>
                </div>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="swiper-container swiper-container-v">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="photoUrl in photoUrllist" on-finish-render-filters>
                        <div style="float:left">
                            <img width="640px"  class="swiper-lazy"   data-src="{{photoUrl}}"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-v"></div>
            </div>
        </div>
    </div>
    <img src="assets/images/icon_up.png" alt="" class="swiper-button-next arrow-up pt-page-moveIconUp">
</div>