<div class="menu-card menu-top-right" id="inv-1965" style="display: block;">
    <div id="mainswitch" class="mainswitch z-show">
        <div class="mainswitchtext" id="switchs" style="padding-top: 14px;"><img  src="/vitation-app/assets/images/menu-logo1.png"></div>
        <div class="mainswitchbg" id="switch_btn"></div>
    </div>
    <div class="btn z-show" id="4switch" style="display: none;">
        <div class="cardbtn_wrap d0 menuItemToHide" id="menu-tmp">
            <div class="cardsbtn"></div>
            <div class="cardtext">请柬</div>
        </div>
        <div class="cardbtn_wrap d1 menuItemToHide" id="menu-map">
            <div class="cardsbtn"></div>
            <div class="cardtext">地图</div>
        </div>
        <div class="cardbtn_wrap d2 menuItemToHide" id="menu-guest">
            <div class="cardsbtn"></div>
            <div class="cardtext">来宾</div>
        </div>
        <div class="cardbtn_wrap d3 menuItemToHide" id="menu-bless">
            <div class="cardsbtn"></div>
            <div class="cardtext">祝福</div>
        </div>
    </div>
    <div class="line z-show playing shorttoshot" id="line"></div>
</div>