html, body {
    position: relative;
    max-width:640px;
    height: 100%; margin:0px auto;
}
body {
    width: 100%;
    height: 100%;
    /*background:#000;*/
    background: #e74f54;
    font-size: 14px;
    color: #333333;
    font-family: '微软雅黑', '宋体';
    letter-spacing: 1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

ul{padding:0px}

/*loading样式（加载）*/
.app-loading {
    /*     position: fixed;
         top: 45%;
         left: 48%;
         margin: -48px auto auto -48px;
         width: 166px;
         height: 166px;
         display: block;
         opacity: 1;
         -webkit-transition: all 0.5s;
         z-index: 9999;*/
    background-size:auto 100%;
    background-color:#fff1ca;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    left:0px;
    top:0px;
}
/*loading样式 end*/

/*loading样式2*/
.spinner {
    /*     margin: auto 0;
         text-align: center;
         position:relative;*/

    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-top: 50%;
}

.spinner .logo_r{
    width:116px;
    height:102px;
    top:20px;
    left:20px;
    position:absolute;
    background-size:116px 102px;
    background-image:url(../images/logo_r.png);
    animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;
    -webkit-animation-name:logoBouncein;-moz-animation-name:logoBouncein;-ms-animation-name:logoBouncein;animation-name:logoBouncein;
}

.spinner .logo_g{
    width:44px;
    height:36px;
    top:86px;
    left:110px;
    position:absolute;
    background-size:44px 36px;
    background-image:url(../images/logo_r.png);
    animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;
    -webkit-animation-name:logoBouncein;-moz-animation-name:logoBouncein;-ms-animation-name:logoBouncein;animation-name:logoBouncein;
}
.spinner .loading-text{
    font-size:22px;
    color:#333;
    padding-top:136px;
}
/* 弹入 */
@-webkit-keyframes logoBouncein{
    0%{opacity:0.8;-webkit-transform:scale(1);}
    50%{opacity:1;-webkit-transform:scale(1.05);}
    70%{-webkit-transform:scale(0.9);}
    100%{opacity:0.8;-webkit-transform:scale(1);}
}

@-moz-keyframes logoBouncein{
    0%{opacity:0.8;-webkit-transform:scale(1);}
    50%{opacity:1;-webkit-transform:scale(1.05);}
    70%{-webkit-transform:scale(0.9);}
    100%{opacity:0.8;-webkit-transform:scale(1);}
}
@-ms-keyframes logoBouncein{
    0%{opacity:0.8;-webkit-transform:scale(1);}
    50%{opacity:1;-webkit-transform:scale(1.05);}
    70%{-webkit-transform:scale(0.9);}
    100%{opacity:0.8;-webkit-transform:scale(1);}
}
@keyframes logoBouncein{
    0%{opacity:0.8;-webkit-transform:scale(1);}
    50%{opacity:1;-webkit-transform:scale(1.05);}
    70%{-webkit-transform:scale(0.9);}
    100%{opacity:0.8;-webkit-transform:scale(1);}
}

/*展开式菜单（右上角）*/
.menu-card {
/*    position: relative;*/
    position: absolute;
    width: 640px;
    z-index: 110;
    display: none;
}

.menu-top-right {
    right: 2%;
    top: 2%;
}
.menu-top-left {
    right: 85%;
    top: 2%;
}
.menu-bottom-left {
    left: 2%;
    top: 98%;
}

.menu-card .mainswitch {
    z-index: 100;
    overflow: visible;
}

.menu-card .mainswitchtext {
    position: absolute;
    z-index: 96;
    width: 80px;
    height: 84px;
    text-align: center;
    font-size: 18px;
    color: #666;
}

.menu-top-right .mainswitchtext{
    right: 0;
    top: -14px;
    padding-top: 42px;
}
.menu-bottom-left .mainswitchtext{
    left: 0;
    bottom: -20px;
    padding-bottom: 0px;
}

.menu-card .mainswitchtext img {
    width: 92%;
}
.menu-top-right .mainswitchtext img {
    margin-top:3px;
}
.menu-bottom-left .mainswitchtext img {
    margin-top:7px;
}

.menu-card .d3 .cardtext{
    color:#f46869;
}

.menu-card .mainswitchbg {
    position: absolute;
    z-index: 95;
    width: 80px;
    height: 80px;
    opacity: 1;
    background-repeat: no-repeat;
    background-image: url(../images/round.png);
    background-size: 80px 80px;
    background-position: center;
    -webkit-animation: menuLoading 2s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}

.menu-top-right .mainswitchbg{
    right: 0;
    top: 0;
}
.menu-bottom-left .mainswitchbg{
    left: 0;
    bottom: 0;
}

.menu-card .btn {
    position: absolute;
    z-index: 95;
}
.menu-top-right .btn{
    right: 0;
    top: 125px;
}
.menu-bottom-left .btn{
    left: 0;
    bottom: 95px;
}

.menu-card .btn .cardsbtn {
    width: 85px;
    height: 140px;
    background-repeat: no-repeat;
    background-image: url(../images/round.png);
    background-size: 80px 80px;
    background-position: center;
    -webkit-animation: menuLoading 2.3s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    opacity: 1;
    position: absolute;
    overflow: visible;
}
.d0 .cardsbtn{
    -webkit-animation-delay: 1s !important;
}

.d1 .cardsbtn{
    -webkit-animation-delay: 1.2s!important;
}

.d2 .cardsbtn{
    -webkit-animation-delay: 1.4s!important;
}

.d3 .cardsbtn{
    -webkit-animation-delay: 1.6s!important;
}

.menu-bottom-left .btn .cardsbtn {
    width: 80px;
    height: 80px;
}

.menu-card .btn .cardbtn_wrap {
    position: relative;
    width: 87px;
    height: 140px;
    font-size: 12px;
    overflow: visible;
    opacity: 0;
}

.menu-top-right .btn .cardbtn_wrap{
    margin-top: -30px;
}
.menu-bottom-left .btn .cardbtn_wrap{
    margin-bottom: 10px;
}

.menu-card .btn .cardtext {
    position: absolute;
    overflow: visible;
    font-size: 18px
}
.menu-top-right .btn .cardtext{
    left: 25px;
    top: 58px;
}
.menu-bottom-left .btn .cardtext{
    right: 28px;
    bottom: 87px;
}

.menu-card .line {
    position: absolute;
    z-index: 94;
    width: 85px;
    height: 380px;
    background-repeat: no-repeat;
    background-image: url(../images/line.png);
    background-size: 5px 400px;
    background-position: center;
    -webkit-animation: showLineSha 8s infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forward;
}

.menu-top-right .line{
    right: 0;
    top: 70px;
}
@-webkit-keyframes showLineSha {
    0% {
        opacity: 0;
    }
    27% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.menu-bottom-left .line{
    left: 0;
    bottom: 15px;
    height: 450px;
    background-size: 5px 565px;
}

.menu-card .line.longtoshot {
    -webkit-animation: longtoshot 1000ms both;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}
.menu-bottom-left .line.longtoshot{
    -webkit-animation: longtoshot-bottom-left 1000ms both;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}

.menu-card .line.shorttoshot {
    -webkit-animation: shorttoshot 600ms both;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}
.menu-bottom-left .line.shorttoshot {
    -webkit-animation: shorttoshot-bottom-left 600ms both;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}

.menu-card .menuItemToShow {
    -webkit-animation: menuItemToShow 150ms both;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}
.menu-bottom-left .menuItemToShow{
    -webkit-animation-name: menuItemToShow-bottom-left;
}

.menu-card .menuItemToHide {
    -webkit-animation: menuItemToHide 150ms both;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forward;
}
.menu-bottom-left .menuItemToHide {
    -webkit-animation-name: menuItemToHide-bottom-left;
}

.menu-top-right .menuItemToShow.d0, .menu-top-right .menuItemToHide.d3 {
    -webkit-animation-delay: 0s;
}

.menu-top-right .menuItemToShow.d1, .menu-top-right .menuItemToHide.d2 {
    -webkit-animation-delay: 200ms;
}

.menu-top-right .menuItemToShow.d2, .menu-top-right .menuItemToHide.d1 {
    -webkit-animation-delay: 400ms;
}

.menu-top-right .menuItemToShow.d3, .menu-top-right .menuItemToHide.d0 {
    -webkit-animation-delay: 600ms;
}


.menu-bottom-left .menuItemToShow.d0, .menu-bottom-left .menuItemToHide.d3 {
    -webkit-animation-delay: 600ms;
}

.menu-bottom-left .menuItemToShow.d1, .menu-bottom-left .menuItemToHide.d2 {
    -webkit-animation-delay: 400ms;
}

.menu-bottom-left .menuItemToShow.d2, .menu-bottom-left .menuItemToHide.d1 {
    -webkit-animation-delay: 200ms;
}

.menu-bottom-left .menuItemToShow.d3, .menu-bottom-left .menuItemToHide.d0 {
    -webkit-animation-delay: 0ms;
}

@-webkit-keyframes longtoshot {
    0% {
        -webkit-transform: translate(0, -190px) scale(1, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0) scale(1, 1.0);
        opacity: 1;
    }
}
@-webkit-keyframes longtoshot-bottom-left {
    0% {
        -webkit-transform: translate(0, 200px) scale(1, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, -10px) scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes shorttoshot {
    0% {
        -webkit-transform: translate(0, 0) scale(1, 1.0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, -190px) scale(1, 0);
        opacity: 0;
    }
}
@-webkit-keyframes shorttoshot-bottom-left {
    0% {
        -webkit-transform: translate(0, -10px) scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 200px) scale(1, 0);
        opacity: 0;
    }

}

/*菜单展示*/
@-webkit-keyframes menuItemToShow {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
@-webkit-keyframes menuItemToShow-bottom-left {
    0% {
        opacity: 0;
        margin-bottom: -30px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0px;
    }
}

/*菜单隐藏*/
@-webkit-keyframes menuItemToHide {
    0% {
        opacity: 1;
        margin-top: 0px;
    }
    100% {
        opacity: 0;
        margin-top: -30px;
    }
}
@-webkit-keyframes menuItemToHide-bottom-left {
    0% {
        opacity: 1;
        margin-bottom: 0px;
    }
    100% {
        opacity: 0;
        margin-bottom: -30px;
    }
}

/*菜单旋转*/
@-webkit-keyframes menuLoading {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes menuLoading {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes menuLoading {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(360deg)
    }
}

@-ms-keyframes menuLoading {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg)
    }
}

@keyframes menuLoading {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

/*展开式菜单（右上角）结束*/

.f28{font-size:28px;}
.f24{font-size:24px;}
.f20{font-size:20px;}
.cw{color:#fff;}
.center{text-align:center;margin:auto;}
.ptRel{position: relative;}
.ptAbs{position: absolute;}
.bg1{background-image: url("../images/bg-pic1.jpg")}




.album{
    width: 100%;
    height:100%;"
}

.album ul{

}

.album ul li{
    float: left;
    width: 45%;
    margin-bottom: 5px;
}

.album ul li:nth-child(2n+1){
    margin-right: 10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff1ca;
    /*        left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;*/
}
.swiper-slide {
    background-position: center;
    background-size: contain;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ani{
    position:absolute;width:100%; height:100%;left:0px;top:0px;
}

.zixun{ display:block;background:url(../images/zixun.png) no-repeat center center;background-size:contain; z-index:10;}
.zixun a{display:block; width:40%; height:40%; position:absolute; right:0px; bottom:0px; z-index:1;}

.fadeInDownBig{
    -webkit-animation:fadeInDownBig 1s .2s ease both;
    -moz-animation:fadeInDownBig 1s .2s ease both;}
@-webkit-keyframes fadeInDownBig{
    0%{opacity:0;
        -webkit-transform:translateY(-2000px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDownBig{
    0%{opacity:0;
        -moz-transform:translateY(-2000px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}

.fadeInUpBig{
    -webkit-animation:fadeInUpBig 1s .2s ease both;
    -moz-animation:fadeInUpBig 1s .2s ease both;}
@-webkit-keyframes fadeInUpBig{
    0%{opacity:0;
        -webkit-transform:translateY(2000px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
    0%{opacity:0;
        -moz-transform:translateY(2000px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}
/*p1*/
.fadeInRight{
    -webkit-animation:fadeInRight 1s .2s ease both;
    -moz-animation:fadeInRight 1s .2s ease both;}
@-webkit-keyframes fadeInRight{
    0%{opacity:0;
        -webkit-transform:translateX(150px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRight{
    0%{opacity:0;
        -moz-transform:translateX(150px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}

.fadeInLeft{
    -webkit-animation:fadeInLeft 0.8s .2s ease both;
    -moz-animation:fadeInLeft 0.8s .2s ease both;}
@-webkit-keyframes fadeInLeft{
    0%{opacity:0;
        -webkit-transform:translateX(-150px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
    0%{opacity:0;
        -moz-transform:translateX(-150px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}
/*箭头动画*/
.arrow-up{
    background:none;
    height:auto;
    width:25px;
    position:absolute;
    left:50%;
    top:92%;
    margin-left:-12px;
    z-index:99;
}
.pt-page-moveIconUp {
    -webkit-animation: moveIconUp ease 1.5s both infinite;
    animation: moveToBottom ease 1.5s both infinite;
}
@-webkit-keyframes moveIconUp {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp {
    0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}
@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
/*音乐按钮动画*/

@-webkit-keyframes moveRo {
    from {-webkit-transform: rotate(360deg);  }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes moveRo {
    from {  transform: rotate(-360deg)}
    to {  transform: rotate(360deg); }
}

@-webkit-keyframes openRo {
    from { }
    to { -webkit-transform: translateY(100%)
    ;}
}
@keyframes openRo {
    from { }
    to { -webkit-transform: translateY(100%) ; transform: translateY(100%);

    }
}

/*小音符动画*/

@-webkit-keyframes openIconRo {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:0.5;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes openIconRo {
    0% { -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity:0;
    }
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:0.5;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}

/*结尾 ----------------*/
/*音乐*/
.music{
    position: absolute;
    z-index: 1000;
}

.music-left-top{
    left: 20px;
    top: 20px;
}
.music-right-bottom{
    right: 20px;
    bottom: 20px;
}
.open{
    /*-webkit-animation: moveIconRo ease 3.5s both infinite;*/
    -webkit-animation: moveRo linear 3.5s  infinite;
    animation-delay:0;
}
.icon-music{
    width: 54px;
    height: 54px;
    background: url(../images/icon-muisc.png);
    background-size: 100% 100%;
    display: block;
}
.music-span{
    position: absolute;
    top: -5px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: url(../images/music-span.png);
    background-size: 100% 100%;
    -webkit-animation: openIconRo ease 1.2s both infinite;
    animation: openRo ease 1.2s both infinite;
    z-index: -1;
}


.music_text{
    color: #000;
    margin-left: 5px;
    font-size: 20px;
    opacity: 0;
}

@keyframes show_hide{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}
@-webkit-keyframes show_hide{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}

.show_hide{
    animation: show_hide 1s linear infinite alternate;
    -webkit-animation: show_hide 1s linear infinite alternate;
}
.xin_info{
    opacity: 0;
}


.center{text-align:center;margin:auto;}
.ptRel{position:relative;}
.a-bounceinR{
    height:150px;float:left;border:#fff solid 4px;overflow: hidden
}
.a-bounceinL{
    height:150px;float:left;border:#fff solid 4px; border-left:none
}

.guest-header{
    background: url("../images/icon-user.jpg") no-repeat 5% 50%;
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.guest-box{
    background: #FFF;
    width:96%;
    margin: auto;
}

.guest-list{
    list-style-type: none;
}
.icon-sex{
    float: left;
    width: 76px;
    height: 129px;
    margin-right: 10px;
}
.message{
    margin-left:80px ;
    height: 114px;
    padding-top: 15px;
}
.guest-list li:nth-child(2n+1)
{
    background:#F4F4F4;
}

.message-avatar{
    width: 13%;
}
.guest-name{
    font-size: 24px;
    color:#596c8c;
    font-weight:bold;
    padding: 5% 10%;
}
.accept-date{
    color:#c6c6c6;
    font-size: 20px;
    padding: 1% 0;
}

.layermcont {
    width: 100%;
    height: 100%;
}
.dialog_container{
    height: 100%;
}

.dialog_container label{
    width: 20%;
    display:inline-block;
    text-align: right;
}
.dialog_container input,.dialog_container select{
    width: 60%;
    height: 36px;
    line-height: 36px;
    margin: 10px;
}

.dialog_container textarea{
    width: 80%;
    height: 200px;
    line-height: 36px;
    margin: 20px;
}

.dialog_container>.dialog_body{
    background-color: #FFFFFF;
    font-size: 24px;
    height: 70%;
    padding: 5%;
    margin: 3% 2%;
}
.dialog_container>.dialog_footer{
    height: 10%;
    padding: 0px 2% 2% 2%;
}
.dialog_footer button{
    width:25%;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}
.dialog_footer .submit-btn{
    float: left;
}
.dialog_footer .cancle-btn{
    float: right;
}

.bless-add{
    color:#2FEC00;
    margin-left: 20px;
}
.bless-add:hover{
    color:#EC4700;
}